<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <header>
      <h1>Welcome to my CRM</h1>
    </header>

    <main>

    <main>


    <footer>
      <a href="/contacts">CONTACTS</a>
      <a href= "/index">HOME</a>
      <a href="/about">ABOUT</a>

    </footer>
</html>
