<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    </head>
      <header>
        <h1>Contacts</h1>
      </header>

      <body>
        <% @contacts.each { |contact| %>
          <p>
            <%= contact.full_name %>
          <p>
        <% } %>
      </body>



      </body>

          <footer>
            <a href="/contacts">CONTACTS</a>
            <a href= "/index">HOME</a>
                  <a href="/about">ABOUT</a>

          </footer>
</html>
