


        <div class="totalnumberofcontacts">
          <h2>There are <%= @contacts.count %> contacts.</h2>
        </div>

           <% @contacts.each { |contact| %>
             <a href="/contacts/<%= contact.id %>">
               <div class="contactreadout">
                <h2>
                  <%= contact.full_name %> (<%= contact.email %>)
                </h2>
              </div>
            </a>
              <% } %>

          
        </div>
