
        <h1>Contacts</h1>


        <div class="totalnumberofcontacts">
          <h2>There are <%= @contacts.count %> contacts.</h2>
        </div>

           <% @contacts.each { |contact| %>
             <div class="contactreadout">
                <h2>
                  <%= contact.full_name %> (<%= contact.email %>)
                </h2>
              </div>
              <% } %>
        </div>
