<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MY CRM</title>
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <header>
    <h1>FRIEND ARENA 3k</h1>
  </header>

  <nav class="topnavbar">
    <ul class="navlist">
      <a href="/index">
        <li>MAIN MENU</li>
      </a>
      <a href="/contacts">
        <li>COMBATANTS</li>
      </a>
      <a href="/about">
        <li>STORY OF THE ARENA</li>
      </a>
      <a href="/contacts/new">
        <li>A NEW FRIEND FOR THE ARENA!</li>
      </a>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>-INSERT COIN-</p>
  </footer>
</html>
