<!-- ask about location of get "/contacts/new" -->
<h3>A new warrior enters the Arena</h3>

<form action='/contacts' method='post'>
  <label for="firstname">First Name:</label>
  <input id="firstname" type='text' name='first_name'>
  <label for="lastname">Last Name:</label>
  <input id="lastname" type='text' name='last_name'>
  <label for="emailuser">Email:</label>
  <input id="emailuser" type='text' name='email'>
  <label for='user_note'>Note</label>
  <input id="user_note" type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>
