<h1>Create new Contact</h1>

<form action='/contacts' method='post'>
  <label for="firstname">First Name:</label>
  <input id="firstname" type='text' name='first_name'>
  <label for="last-name">Last Name:</label>
  <input id="lastname" type='text' name='last_name'>
  <label for="email-user">Email:</label>
  <input id="emailuser" type='text' name='email'>
  <label for='user_note'>Note</label>
  <input id="user_note" type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>
