body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: rgb(51, 255, 0)

}

h3 {
  color: white;
}

.opening  p{
  text-align: center;
}

.navlist li {
  height: 3em;
  background-color: black;
  width: 100%;
  display: flex;
  margin-bottom: 0.25em;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

header {
  color: rgb(51, 255, 0);
  background-color: black;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 2em;
}

a {
  text-decoration: none;
}

.totalnumberofcontacts {
  height: 3em;
  background-color: black;
  width: 90%;
  display: flex;
  margin-bottom: 0.25em;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contactreadouts {
  height: 4em;
  background-color: black;
  width: 90%;
  display: flex;
  margin-bottom: 0.5em;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.5em;
}

footer {
  color: white;
  height: 3em;
  display: flex;
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
