.navlist li {
  height: 3em;
  background-color: grey;
  width: 100%;
  display: flex;
  margin-bottom: 0.25em;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

header {
  background-color: darkgrey;
  display: block;
  width: 100%;
  text-align: center;
  height: 4em;

}
a {
  color: white;
  text-decoration: none;

}

.totalnumberofcontacts  {
  height: 3em;
  background-color: red;
  width: 90%;
  display: flex;
  margin-bottom: 0.25em;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contactreadout {
  height: 4em;
  background-color: aqua;
  width: 90%;
  display: flex;
  margin-bottom: 0.5em;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.5em;
}

footer {
  color: white;
  height: 3em;
  display: flex;
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
